# Node.js specific files
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log

# Operating system specific files
.DS_Store
Thumbs.db

# Editor specific files
.idea/
.vscode/
*.swp
